* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 100%;
    margin: 10px auto;
    text-align: center;
    font-family: "Proxima Nova", sans-serif;
}

.list {
    font-size: 0;
}

.item {
    display: inline-block;
    vertical-align: middle;
    height: 290px;
    width: 320px;
    padding: 25px;
    background: #FFFFFF;
    border-left: 0;
}

.icon-wrapper {
    display: inline-block;
    background-color: #1275b9;
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: 1.5px solid #2a69a6;
    cursor: pointer;
}

.icon-wrapper svg {
    vertical-align: middle;
}

.virtual {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.icon-wrapper:hover {
    background: #FFFFFF;
}

.icon-wrapper:hover path {
    fill: #2a69a6;
}

.h1-item {
    display: inline-block;    
    font-size: 21px;
    text-transform: uppercase;
    margin: 16px;
}

.text-item {
    font-size: 14px;
    line-height: 22px;
    margin: 0 16px 16px 16px;
}
