@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper--height {
  height: 100%;
}

.header {
  background: url(./images/bg01.jpg) no-repeat center;
  height: 100vh;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__block {
  width: 100%;
  max-width: 650px;
}
.header__block-text {
  min-width: 324px;
  margin-bottom: 54px;
}
.header__title {
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: lighter;
  text-transform: uppercase;
}
.header__subtitle {
  margin-top: 4px;
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: lighter;
}
.header__search {
  display: flex;
  flex-direction: row;
}
.header .search-input {
  width: 100%;
  padding-left: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  border: none;
  color: #999999;
}
.header .search-btn {
  min-width: 150px;
  padding: 20px 5px;
  font-family: "Aleo", serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #5474fd;
  border: 2px solid #ffffff;
  color: white;
  cursor: pointer;
}
.header .btn:after {
  content: "";
  margin-left: 14px;
  font-family: "FontAwesome";
  font-weight: lighter;
  font-size: 20px;
  color: white;
}
.header .btn:hover {
  opacity: 0.7;
  transition: all 0.3s linear;
}
.header .btn:active {
  opacity: 0.3;
}
.header ::-webkit-input-placeholder {
  opacity: 0.5;
}
.header__scroll {
  padding-top: 150px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  opacity: 0.7;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header .scroll__text {
  margin-bottom: 5px;
  letter-spacing: 3px;
}

.nav {
  height: 80px;
  background-color: #5474fd;
}
.nav__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.nav__logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.nav .checkbox {
  position: absolute;
  top: -999999px;
  left: -999999px;
  visibility: hidden;
}
.nav__toggler-input {
  display: none;
  position: absolute;
  right: 15px;
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.nav__toggler-input .fas {
  font-size: 42px;
  color: #fff;
}
.nav__toggler-input:hover {
  opacity: 0.7;
}
.nav__list {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  min-width: 525px;
  width: 100%;
  font-family: "Aleo", serif;
  font-size: 14px;
  list-style-type: none;
  text-transform: uppercase;
}
.nav__item {
  padding: 10px 5px;
  width: 25%;
  text-align: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.nav__link {
  text-decoration: none;
  color: white;
}
.nav__link:hover {
  padding: 10px 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.nav__link:active {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .nav__logo {
    display: none;
  }

  .nav__toggler-input {
    display: block;
  }

  .nav__list {
    display: none;
  }

  .checkbox:checked ~ .nav__list {
    background-color: gray;
    margin-left: 0;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    font-size: 12px;
    border-radius: 15px;
    overflow: visible;
  }

  .nav__item {
    padding: 10px 5px;
    width: 100%;
    text-align: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}
.block-info {
  background: url(./images/bg02.jpg);
  background-position: center;
  background-size: cover;
}
.block-info__inner {
  display: flex;
  flex-direction: row;
  padding: 120px 0;
}
.block-info__left {
  width: 50%;
  margin-right: 15px;
}
.block-info__right {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-left: 15px;
}
.block-info__img-right {
  margin-bottom: 2px;
  max-width: 100%;
}
.block-info__img-left {
  margin-top: 2px;
  max-width: 100%;
  align-self: flex-end;
}
.block-info .mini-block {
  color: white;
}
.block-info .mini-block__title {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
}
.block-info .mini-block__text {
  margin-top: 60px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}
.block-info .mini-block__button {
  margin-top: 50px;
  color: #5474fd;
}
.block-info .mini-block .btn {
  padding: 15px 10px;
  width: 100%;
  max-width: 225px;
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  background-color: #5474fd;
  border: 2px solid transparent;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.block-info .mini-block .btn:hover {
  opacity: 0.7;
  transition: all 0.3s linear;
}
.block-info .mini-block .btn:active {
  opacity: 0.3;
}

@media only screen and (max-width: 768px) {
  .block-info__inner {
    flex-direction: column;
  }

  .block-info__right {
    width: 100%;
    margin-left: 0;
  }

  .block-info__left {
    margin-right: 0;
    width: 100%;
  }

  .mini-block {
    margin-bottom: 10px;
  }

  .mini-block__title {
    font-size: 26px;
  }

  img {
    height: auto;
    width: 100%;
  }
}
.block-search {
  background-color: #333333;
}
.block-search__list {
  display: flex;
  flex-direction: row;
}
.block-search__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 110px;
  width: 33.3333%;
}
.block-search__title {
  margin-top: 30px;
  text-align: center;
  font-family: "Aleo", serif;
  font-size: 36px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .block-search__title {
    font-size: 20px;
  }
}
.block--left {
  background: url(./images/bg03.jpg);
  background-position: center;
  background-size: cover;
}

.block--right {
  background: url(./images/bg04.jpg);
  background-position: center;
  background-size: cover;
}

.block__inner {
  display: flex;
  padding-top: 230px;
  padding-bottom: 100px;
}
.block__inner--left {
  justify-content: flex-start;
}
.block__inner--right {
  justify-content: flex-end;
}
.block .mini-block {
  max-width: 540px;
  padding: 50px 30px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #282526;
  opacity: 0.95;
  color: white;
}
.block .mini-block__title {
  font-size: 20px;
}
.block .mini-block__subtitle {
  margin-top: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
.block .mini-block__text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}
.block .mini-block__button {
  margin-top: 48px;
  color: #5474fd;
}
.block .mini-block .btn {
  padding: 15px 10px;
  width: 100%;
  max-width: 225px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #5474fd;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
}
.block .mini-block .btn:hover {
  opacity: 0.7;
  transition: all 0.3s linear;
}
.block .mini-block .btn:active {
  opacity: 0.3;
}

.block-comment {
  background: url(./images/bg05.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
.block-comment__inner {
  padding-top: 120px;
  padding-bottom: 200px;
}
.block-comment__title {
  margin-bottom: 100px;
  text-align: center;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.comment__list {
  height: 284px;
}
.comment__photo {
  width: 40%;
}
.comment__img {
  width: 100%;
  height: 100%;
  background: url(./images/img03.jpg) 50% no-repeat;
  background-size: cover;
}
.comment__user {
  padding: 50px;
  width: 60%;
  font-family: "Josefin Sans", sans-serif;
  background-color: #333333;
  overflow: hidden;
  overflow-y: scroll;
}
.comment__name {
  margin-left: 10px;
  font-size: 20px;
  text-transform: uppercase;
}
.comment__text {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 26px;
  text-indent: 1.5em;
  text-align: justify;
  position: relative;
}
.comment__text ::before {
  content: "";
  position: absolute;
  left: -22px;
  font-family: "FontAwesome";
  font-size: 16px;
  line-height: 0;
  color: #5474fd;
}

@media only screen and (max-width: 768px) {
  .block-comment__title {
    font-size: 26px;
  }

  .comment {
    flex-direction: column;
    min-height: 570px;
  }

  .comment__photo {
    width: 100%;
  }

  .comment__user {
    width: 100%;
  }
}
.footer {
  height: 268px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  background-color: #232323;
  color: white;
}
.footer__title {
  padding-top: 120px;
  font-size: 24px;
  text-transform: uppercase;
}
.footer__subtitle {
  margin-top: 15px;
  font-size: 16px;
}
.footer__cocial {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__cocial .icon-block {
  margin: 3px;
  width: 30px;
  color: white;
}
.footer__cocial .icon-block:hover {
  transition: all 0.3s linear;
  color: #5474fd;
}
.footer__cocial .icon-block:active {
  opacity: 0.3;
}

/*# sourceMappingURL=style.css.map */
