* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    font-family: 'Raleway', sans-serif;
    background-color: #b07cf7;
    color: white;
    text-align: center;
    margin: auto;
}

.header {
    max-width: 570px;
    padding-top: 96px;
    margin: 0 auto;
}

.header h1 {
    font-size: 90px;
    font-weight: bold;
}

.header p {
    font-size: 17px;
    line-height: 25px;
    margin-top: 27px;
}

ul {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

li {
    list-style: none;
}
.item {
    margin: 15px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.item a {
    max-width: 370px;
    min-height: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}



.date {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 60px;
    height: 60px;
    font-size: 21px;
    color: white;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 900;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.date_number {
    font-size: 32px;
    font-weight: 700;
}
.text {
    padding: 25px;
    color: white;
}

.text h2 {
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 21px;
}

.description {
    text-align: left;
    font-size: 13px;
    opacity: .7;
}

.botton {
    display: inline-block;
    padding: 0 42px;
    margin-top: 35px;
    margin-bottom: 120px;
    line-height: 55px;
    height: 55px;
    font-size: 20px;
    color: white;
    background-color: rgb(247, 43, 59);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.item a:hover .text {
    background-color: rgba(0,0,0, .3);
    color: rgb(207, 207, 207);
  }